<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkers Game</title>
    <link rel="stylesheet" href="/css/checkers.css">
    <link rel="stylesheet" href="/css/game.css">
    <link rel="icon" type="image/png" href="/images/board/board_checkers.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>
<div th:replace="fragments/header :: header"></div>

<main class="main-checkers">
    <div class="game-container">
        <div class="moves-log" id="moves-log">
            <h3>Moves</h3>
            <ul id="move-list">
                <li th:each="move : ${movesLog}" th:utext="${move}"></li>
            </ul>
        </div>
        <div class="game-section">
            <a href="/checkers/new" class="new">New game</a>
            <div th:utext="${@checkersController.htmlField}"></div>
            <div th:utext="${@checkersController.playerTurn}"></div>
            <div th:utext="${@checkersController.scorePlayers}"></div>
        </div>
    </div>
</main>

<div th:replace="fragments/footer :: footer"></div>

<script src="/js/game.js"></script>
</body>
</html>