<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkers</title>
    <link rel="stylesheet" href="/css/checkers.css">
</head>
<body>
<header>
    <div class="header-title">
        <h1>Checkers</h1>
        <img src="/images/board_checkers.png" alt="Checkers Logo" class="checkers_logo">
    </div>
    <nav>
        <ul>
            <li><a href="/leaderboard">Leaderboard</a></li>
            <li><a href="/rules">Rules</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</header>

<div class="homePage">
    <h2>Welcome to Checkers!</h2>
    <p>Join us for a game of strategy and skill.</p>
    <button class="start-game"><a href="/checkers">Start Game</a></button>
</div>

<footer>
    <p>&copy; 2025 Checkers. All rights reserved.</p>
</footer>
</body>
</html>