<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Sign up</title>
    <link rel="stylesheet" href="/css/checkers.css">
</head>
<body>
<header>
    <h1>Checkers</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
</header>

<div class="signup-container">
    <div>
        <h1>Sign up for free</h1>
    </div>
    <div class="signup-content">
        <form action="/login" method="post">
            <div class="input-group">
                <input type="text" id="username" name="username" required placeholder="Username" />
                <input type="email" id="email" name="email" required placeholder="Email" />
                <input type="password" id="password" name="password" required placeholder="Password" />
                <input type="password" id="confirm_password" name="confirm_password" required placeholder="Confirm Password" />
            </div>
            <p>
                By signing up, you agree to our <a href="/terms">Terms of Service</a> and
                <a href="/privacy">Privacy Policy</a>.
            </p>
            <button type="submit">Sign Up</button>
        </form>
    </div>
</div>

<footer>
    <p>&copy; 2025 Checkers. All rights reserved.</p>
</footer>
</body>
</html>