<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="stylesheet" href="/css/checkers.css">
</head>
<body>
<header>
    <h1>Checkers</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
</header>
<div class="signin-container">
    <div>
        <h1>Sign in to your account</h1>
        <p>Or <a href="/signup">sign up for a new account</a></p>
    </div>
    <div class="signin-content">
        <h2>Sign in</h2>
        <form action="/login" method="post">
            <div class="input-group">
                <input type="email" id="username" name="username" required placeholder="Email">
                <input type="password" id="password" name="password" required placeholder="Password">
            </div>

            <button type="submit">Sign In</button>
        </form>
    </div>
</div>
<footer>
    <p>&copy; 2025 Checkers. All rights reserved.</p>
</footer>
</body>
</html>